* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // position: fixed;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4eefe;
  font-family: "Poppins", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  width: 100%;
}
label {
  cursor: pointer;
  padding: 20px 40px;
  margin: 20px;
  display: inline-flex;
  background: radial-gradient(
    222.41% 222.41% at 44.52% -37.36%,
    #ba6cff 0%,
    #7756ef 100%
  );
  box-shadow: 0px 33px 55px 15px rgba(108, 74, 237, 0.2);
  border-radius: 13px;
  svg {
    width: 150px;
  }
  transition: 0.3s;
  &:hover {
    transform: scale(0.8);
  }
}
.uploadfile {
  display: none;
}
.navigator {
  position: fixed;
  left: 20px;
  height: 95%;
  top: 50%;
  padding: 30px;
  transform: translateY(-50%);
  // width: 85px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #946df9 0%, #6c4aed 100%);
  border-radius: 6px;
  button {
    appearance: none;
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: white;
    margin-block: 20px;
    padding: 10px;
    transition: 0.2s;
    cursor: pointer;
  }
  .selected {
    background: white;
    color: #6c4aed;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 6px #1c104683;
    border-radius: 5px;
  }
}
.uploadFilePage {
  width: 50%;
  margin: auto;
  height: 90vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .heroText {
    font-size: 45px;
    font-weight: 900;
    color: #43357b;
  }
  .infoText {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
}
.hide {
  display: none;
}
.date {
  position: sticky;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  margin: auto;
  z-index: 99;
  color: black;
  border-radius: 5px;
  padding: 5px 17px;
  font-weight: 500;
  font-size: 10px;
  margin-block: 15px;
  background-color: #bfedff;
}
.messagesWrapper {
  width: 60%;
  margin: auto;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  .header {
    position: sticky;
    top: 0;
    background: #f4eefe;
    background: linear-gradient(135deg, #946df9 0%, #6c4aed 100%);
    height: 60px;
    color: white;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .chatTitle {
      font-size: 18px;
      font-weight: 800;
    }
    z-index: 999;
    .senders {
      white-space: nowrap;
      width: 60%;
      font-size: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #2d1b7e;
  }
}
.chatBox {
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: relative;
  height: max-content;
}

.eachMessageWrapper {
  display: flex;
}

.eachMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  max-width: 60%;
}
.senderName {
  font-size: 10px;
  font-weight: 600;
  color: #474066;
  padding: 1px 5px;
  text-align: left;
}
.message {
  // width: fit-content;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
}
.sender {
  background: #f4eefe;
  background-color: #ddcff3;
  color: black;
  margin-left: 20px;
  border-radius: 12px;
  overflow: hidden;
  border-top-left-radius: 2px;
  .message {
    background-color: #ddcff3;
    background: #f4eefe;
    width: 100%;
    padding-left: 5px;
  }
}
.user {
  background: #6c63ff;
  color: white;
  margin-right: 20px;
  border-radius: 12px;
  border-top-right-radius: 2px;

  // .message{
  //   background-color: #6c63ff;
  // }
}
.notifWrapper {
  justify-content: center !important;
}
.notif {
  background-color: #fefdee;
  .message {
    font-size: 12px;
  }
}
.selectSender {
  background-color: #b689ff;
  padding: 10px 30px;
  border: 2px solid #6428f0;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  outline: none;
  option {
    padding: 5px;
    background-color: #e2d5ff;
    color: black;
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #2d1b7e;
  }
}
.analytics {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  min-height: 100vh;
  margin: auto;
  gap: 20px;
  padding: 30px;
  .chartContainer {
    font-weight: 800;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 0px 5px #47464956;
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .uploadFilePage {
    width: 100%;
    min-height: 89vh;
    .heroText {
      font-size: 20px;
      padding: 5px 20px;
      text-align: center;
    }
    .infoText {
      font-size: 15px;
    }
  }
  .navigator {
    position: sticky;
    left: unset;
    bottom: 20px;
    height: fit-content;
    top: unset;
    padding: 10px;
    width: 93%;
    margin: auto;
    transform: translateY(0%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 9999;
    // background: linear-gradient(135deg, #946df9 0%, #6c4aed 100%);

    background: linear-gradient(180deg, #946df9 0%, #6c4aed 100%);
    box-shadow: inset -9px -5px 40px rgba(91, 75, 149, 0.5),
      inset 14px 14px 33px rgba(255, 255, 255, 0.3);
    border-radius: 16px;

    button {
      margin: 5px;
      display: flex;
      align-items: center;
      font-size: 25px;
    }
  }
  .messagesWrapper {
    width: 100%;
    .header {
      justify-content: center;
      .chatTitle {
        font-size: 12px;
      }
    }
  }
  .chatBox {
    padding-bottom: 50px;
    gap: 1rem;
  }
  .sender {
    margin-left: 10px;
  }
  .user {
    margin-right: 10px;
  }
  .notifWrapper {
    .eachMessage {
      font-size: 10px;
      max-width: 80%;
    }
  }
  .analytics {
    width: 100%;
    .chartContainer {
      width: 98%;
    }
  }
}
